.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: transparent;
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: var(--font-bebas);
}

.dropdown-arrow {
    margin-left: 10px;
    font-size: 26px;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: scale(1);
}

.form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1.5rem;
    background: linear-gradient(to top, var(--bg-primary), var(--bg-secondary));
    font-family: var(--font-roboto);
    font-size: 0.9rem;
    align-items: flex-start;
}

.input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border-radius: 0 0 1rem 1rem;
    padding: 1rem 0.75rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    color: var(--clr);
    font-weight: 400;
}

.submit {
    width: 100%;
    border-radius: 0 1rem 0 1rem;
    background-color: var(--bg-dark);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: var(--font-bebas);
    white-space: normal;
    overflow-wrap: break-word;
    height: 3rem;
    text-align: center;
    margin-bottom: 5px;
}

.submit:hover {
    background-color: var(--btn-bg-hover);
    color: rgb(64, 64, 64);
}

.span {
    color: grey;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.span a {
    color: var(--clr);
}

.required-label {
    display: flex;
    align-items: center;
}

.required-label .asterisk {
    color: var(--error-color);
    font-size: 1rem;
    margin-left: 0.2rem;
}

.error-message {
    color: var(--error-color);
    font-size: 0.875rem;
}

.input-error {
    outline: 2px solid var(--error-color) !important;
}

.success-message {
    color: var(--text-color);
}
