@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BebasNeue:wght@400;700&display=swap");

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #47e1a5;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 400px;
    max-width: 300px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    border-radius: 0rem 0rem 1rem 1rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    color: white;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

/* Estilos para campos obligatorios */

.form .input-span.required .label::after {
    content: "*";
    color: red;
    margin-left: 0.25rem;
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    /* padding: 1rem 0.75rem; */
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0rem 1rem 0rem 1rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 100;
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
}

.form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}
