.empty-favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 57vh;
    text-align: center;
    padding: 1.25rem;
}

.alert-icon {
    color: var(--bg-dark);
    width: 10rem; 
    height: 10rem; 
    margin-bottom: 1.5rem;
}

.empty-favorites-text {
    font-size: 1.5rem;
}
