.footer {
    background: linear-gradient(
        to right,
        var(--bg-secondary),
        var(--bg-primary)
    );
    display: flex;
    width: 100%;
    align-items: center; 
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.3rem;
    height: 200px;
}

.footerLinks {
    color: var(--text-color);
    align-self: start;
    font-family: var(--font-bebas);
    font-size: 1.3rem;
}

.socialIcons {
    display: flex;
    align-items: center;
    gap: 20px;
    align-self: flex-end;
}

.socialIcon1,
.socialIcon2,
.socialIcon3,
.socialIcon4 {
    aspect-ratio: 0.97;
    width: 2rem;
    margin-top: auto 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
