.card {
    display: flex;
    flex-direction: column;
    background-color: #06031a;
    padding: 2.75rem 0rem 2.75rem 0rem;
    height: 65vh
}

.container {
    background-color: transparent;
    width: 100%;
    padding: 0 48px 0 0;
}

.content {
    gap: 20px;
    display: flex;
}

.imageWrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 0;
}

.gameImage {
    aspect-ratio: 0.89;
    object-fit: contain;
    object-position: center;
    width: 100%;
    border-radius: 16px;
    flex-grow: 1;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 20px;
}

.textContent {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    font-weight: 400;
    text-align: center;
    margin: auto 0;
}

.title {
    color: var(--text-color);
    align-self: center;
    font: 64px var(--font-bebas);
}

.highlightedText {
    color: var(--clr);
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIcon {
    position: absolute;
    left: 15px;
    top: 55%; /* Alinea verticalmente al centro del input */
    transform: translateY(-50%); /* Asegura que esté centrado verticalmente */
    color: #939393;
    font-size: 1.2rem;
    pointer-events: none;
}

.inputField {
    width: 100%;
    padding-left: 50px; /* Espacio para el ícono */
    border-radius: 16px;
    margin-top: 1rem;
    color: #939393;
    padding: 26px 70px;
    font: 20px var(--font-roboto);
    justify-content: center;
    text-align: center;
    height: 3rem !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
