@import url("global.css");

body {
    background-color: #06031a;
    background-size: cover;
    color: var(--text-color);
}

.navbar {
    height: 100px;
    background: linear-gradient(
        to right,
        var(--bg-primary),
        var(--bg-secondary)
    );
    padding: 0 10px;
    font-family: var(--font-bebas);
    font-size: 26px;
}

.navbar-text {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.rotate-vertical {
    animation: rotateVertical 10s linear infinite;
    transform-origin: center;
    margin-bottom: 0.1px !important;
}

@keyframes rotateVertical {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.dropdown-button {
    background-color: transparent;
    color: var(--btn-text-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 26px;
    font-family: var(--font-bebas);
}

.dropdown-arrow {
    margin-left: 10px;
    font-size: 26px;
    color: var(--btn-text-color);
}