@import url("global.css");

body {
    background-color: #06031a;
    background-size: cover;
    color: var(--text-color);
}

.navbar {
    height: 6.25rem; /* 100px */
    background: linear-gradient(
        to right,
        var(--bg-primary),
        var(--bg-secondary)
    );
    padding: 0 0.625rem; /* 10px */
    font-family: var(--font-bebas);
    font-size: 1.625rem; /* 26px */
}

.navbar-text {
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.rotate-vertical {
    animation: rotateVertical 10s linear infinite;
    transform-origin: center;
    margin-bottom: 0.00625rem !important; /* 0.1px */
}

.suggestions-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    min-height: 65vh;
}

.dropdown-button {
    background-color: transparent;
    color: var(--btn-text-color);
    border: none;
    cursor: pointer;
    align-items: center;
    font-size: 1.625rem; /* 26px */
    font-family: var(--font-bebas);
}

.dropdown-arrow {
    margin-left: 0.625rem; /* 10px */
    font-size: 1.625rem; /* 26px */
    color: var(--btn-text-color);
}

.navbar-nav {
    gap: 3rem;
}

.divider {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, var(--bg-primary), #06031a);
    /* margin: 0.4rem 0; */
}

.divider2 {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #06031a, var(--bg-primary));
    /* margin: 0.4rem 0; */
}

@keyframes rotateVertical {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@media (max-width: 48rem) {
    /* 768px */
    .navbar {
        height: auto;
        padding: 0.625rem; /* 10px */
        font-size: 1.25rem; /* 20px */
    }

    .navbar-title {
        font-size: 1.5rem; /* 24px */
        text-align: center;
        width: 10rem;
        margin-left: -2.5rem;
    }

    .dropdown-button {
        font-size: 1.25rem; /* 20px */
    }

    .dropdown-arrow {
        font-size: 1.25rem; /* 20px */
    }

    .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
    }

    .form {
        width: 100%;
        padding: 1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 0.75rem 0.5rem;
        height: 2rem;
    }

    .submit {
        font-size: 1.2rem;
        height: 2.5rem;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        margin: 0 auto;
    }

    .nav-item {
        order: 2;
    }

    .nav-item:first-child {
        order: 1;
    }
    .suggestions-page {
        gap: 0.5rem;
    }
}
