.navbar {
    height: 100px;
    background: linear-gradient(to right, #06031a, #000000);
    padding: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 36px;
}
.navbar-text {
    color: #ffffff;
}
