.loader-wrapper {
    width: 200px;
    height: 200px;
}

.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid var(--bg-primary);
    border-top-color: var(--clr);
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    animation: rotate0925 5s linear infinite;
}

.loader-inner {
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

@keyframes rotate0925 {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(0.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
