
.dropdown-menu.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.dropdown-menu.form:hover {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.2);
}

.card-prof {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.dropdown-menu.form:hover .card-prof {
    transform: translateY(-5%);
}

.card-prof input {
    display: none;
}

.card-prof main {
    position: relative;
    width: 9rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-prof main a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-image: linear-gradient(to right, rgb(23, 122, 250) 20%, rgb(3, 240, 209));
    border-radius: 50%;
    overflow: hidden;
    transition: background-image 0.3s ease-in-out;
}

.card-prof main a:hover::after {
    opacity: 1;
}

.card-prof main a::after {
    content: "Change";
    position: absolute;
    width: 100%;
    height: 35%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(transparent 0%, rgba(108, 35, 192, 0.584) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    padding-bottom: 1rem;
}

.card-prof main a svg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid rgb(108, 35, 192);
}

.card-prof span {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgb(119, 255, 170);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(108, 35, 192);
    color: rgb(108, 35, 192);
}

.info {
    margin-top: 1rem;
    text-align: center;
}

.info h1, .info p {
    color: var(--text-color);
    margin: 0.5rem 0;

}

.profile-options {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.profile-options li {
    margin: 10px 0;
}

.profile-options a, .profile-options button {
    font-size: 1em;
    color:white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-options a:hover, .profile-options button:hover {
    color: white;
}
.info h1,
.info p {
    color: #fff;
}
h1 , p{
    color: aliceblue;
}